In [32]:
import numpy as np
import pandas as pd

In [2]:
bounds = np.array([
        [5, 10],  # Longitude bounds
        [0, 3],  # Latitude bounds
    ])

In [3]:
bounds[0][1]

np.int64(10)

In [24]:
data_file = r'../data/Map_village_20241227_data.csv'

In [33]:
def read_data(file_path):
    # Read the CSV file into a DataFrame
    data = pd.read_csv(file_path)
    households = data[data['Type'] == 'Household']
    pumps = data[data['Type'] == 'Hand Pump']
    return data, households, pumps

In [34]:
data, households, pumps= read_data(data_file)

In [36]:
print(pumps)

          Type        Lon        Lat  Altitude  Nb capita  Drink  Cook  \
191  Hand Pump -11.433498  10.980816       372        NaN    NaN   NaN
192  Hand Pump -11.444274  10.990651       350        NaN    NaN   NaN
193  Hand Pump -11.420954  11.001941       350        NaN    NaN   NaN

     Hygiene  Laundry  Usage
191      NaN      NaN    NaN
192      NaN      NaN    NaN
193      NaN      NaN    NaN

In [ ]:
data['Lon'].mean(), data['Lat'].min()

[np.float64(-11.43402127185567), 10.97813035]